<!-- Primary logic structure for this page -->

<table>
 <tbody>
<!-- begin first-level logic -->
{% for entry in site.data.docker %}

  <!-- Begin first-level content -->
  {% capture img %}{{ entry.title }}{% endcapture %}
  {% capture imgindent %}0{% endcapture %}
  {% include docker-row.html %}
  <!--   End first-level content -->

  <!-- Begin second level logic -->
  {% assign subimages = entry.subimage %}
  {% if subimages %}
    {% for subimage in subimages %}

      <!-- Begin second-level content -->
      {% capture img %}{{ subimage.title }}{% endcapture %}
      {% capture imgindent %}50{% endcapture %}
      {% include docker-row.html %}
      <!--   End second-level content -->

      <!-- Begin third-level logic -->
      {% assign subimages2 = subimage.subimage %}
      {% if subimages2 %}
        {% for subimage in subimages2 %}

          <!-- Begin third-level content -->
          {% capture img %}{{ subimage.title }}{% endcapture %}
          {% capture imgindent %}100{% endcapture %}
          {% include docker-row.html %}
          <!--   End third-level content -->

        {% endfor %}
      {% endif %}
      <!-- End third-level logic -->

    {% endfor %}
  {% endif %}
  <!-- End second-level logic -->

{% endfor %}
<!-- End first-level logic -->
 </tbody>
</table>
