<!-- Primary logic structure for this page -->

<table>
 <tbody>
<!-- begin first-level logic -->
{% for entry in site.data.docker %}

  <!-- Begin first-level content -->
  {% capture img %}{{ entry.title }}{% endcapture %}
  {% capture imgindent %}0{% endcapture %}
  {% include docker-row.html %}
  <!--   End first-level content -->

  <!-- Begin second level logic -->
  {% assign level2 = entry.child %}
  {% if level2 %}
    {% for child in level2 %}

      <!-- Begin second-level content -->
      {% capture img %}{{ child.title }}{% endcapture %}
      {% capture imgindent %}25{% endcapture %}
      {% include docker-row.html %}
      <!--   End second-level content -->

      <!-- Begin third-level logic -->
      {% assign level3 = child.child %}
      {% if level3 %}
        {% for child in level3 %}

          <!-- Begin third-level content -->
          {% capture img %}{{ child.title }}{% endcapture %}
          {% capture imgindent %}50{% endcapture %}
          {% include docker-row.html %}
          <!--   End third-level content -->

        {% endfor %}
      {% endif %}
      <!-- End third-level logic -->

    {% endfor %}
  {% endif %}
  <!-- End second-level logic -->

{% endfor %}
<!-- End first-level logic -->
 </tbody>
</table>
