    <tr>
      <td style="imgstyle">{{ img }}</td>
      <td>
        <a href="https://microbadger.com/images/jekotia/{{ img }}">
          <img src="https://images.microbadger.com/badges/image/jekotia/{{ img }}.svg" alt="Get your own image badge on microbadger.com" />
        </a>
      </td>
      <td>
        <a href="https://hub.docker.com/r/jekotia/{{ img }}/">
          <img src="https://img.shields.io/docker/build/jekotia/{{ img }}.svg" alt="Docker Build Status" />
        </a>
      </td>
    </tr>
