<!-- Primary logic structure for this page -->

<table>
 <tbody>
<!-- begin first-level logic -->
{% for entry in site.data.test %}

  <!-- Begin first-level content -->
  {% capture img %}{{ entry.title }}{% endcapture %}
  {% include test-tpl.html %}
  <!--   End first-level content -->

  <!-- Begin second level logic -->
  {% assign subimages = entry.subimage %}
  {% if subimages %}
    {% for subimage in subimages %}

      <!-- Begin second-level content -->
      {% capture img %}{{ subimage.title }}{% endcapture %}
      {% capture imgstyle %} text-indent: 20px; {% endcapture %}
      {% include test-tpl.html %}
      <!--   End second-level content -->

      <!-- Begin third-level logic -->
      {% assign subimages2 = subimage.subimage %}
      {% if subimages2 %}
        {% for subimage in subimages2 %}

          <!-- Begin third-level content -->
          {% capture img %}{{ subimage.title }}{% endcapture %}
          {% capture imgstyle %} text-indent: 40px; {% endcapture %}
          {% include test-tpl.html %}
          <!--   End third-level content -->

        {% endfor %}
      {% endif %}
      <!-- End third-level logic -->

    {% endfor %}
  {% endif %}
  <!-- End second-level logic -->

{% endfor %}
<!-- End first-level logic -->
 </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td> timg </td>
      <td>
        <a href="https://microbadger.com/images/jekotia/timg">
          <img src="https://images.microbadger.com/badges/image/jekotia/timg.svg" alt="Get your own image badge on microbadger.com" />
        </a>
      </td>
      <td>
        <a href="https://hub.docker.com/r/jekotia/timg/">
          <img src="https://img.shields.io/docker/build/jekotia/timg.svg" alt="Docker Build Status" />
        </a>
      </td>
    </tr>
  </tbody>
</table>
