<!-- Primary logic structure for this page -->

<!-- begin first level -->
{% for entry in site.data.test %}
  image {{ entry.title }}

  {% capture img %}{{ entry.title }}{% endcapture %}
  {% include test-tpl.html %}

  <!-- Begin second level -->
  {% assign subimages = entry.subimage %}
  {% if subimages %}
    {% for subimage in subimages %}
      subimage {{ subimage.title }}

      <!-- Begin third level -->
      {% assign subimages2 = subimage.subimage %}
      {% if subimages2 %}
        {% for subimage in subimages2 %}
          subimage2 {{ subimage.title }}

        {% endfor %}
      {% endif %}
      <!-- End third level -->

    {% endfor %}
  {% endif %}
  <!-- End second level -->

{% endfor %}
<!-- End first level -->

<table>
  <tbody>
    <tr>
      <td> timg </td>
      <td>
        <a href="https://microbadger.com/images/jekotia/timg">
          <img src="https://images.microbadger.com/badges/image/jekotia/timg.svg" alt="Get your own image badge on microbadger.com" />
        </a>
      </td>
      <td>
        <a href="https://hub.docker.com/r/jekotia/timg/">
          <img src="https://img.shields.io/docker/build/jekotia/timg.svg" alt="Docker Build Status" />
        </a>
      </td>
    </tr>
  </tbody>
</table>
